<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="manageCiReservations">
    <h3>Manage CI Reservations</h3>
    <button id="exportConflictReportBtn" type="button" class="btn btn-primary">Download Report</button>
    <button id="generateConflictBtn" type="button" class="btn btn-primary"  onclick="loadConflictsTable()">Generate Conflicts</button>
    <br/>
    <br/>
    <table id="conflictsTable" class="table table-striped table-bordered" cellspacing="0" width="100%"/>
</div>
</body>
</html>