<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/main.css}"></link>
    <link rel="stylesheet" th:href="@{/css/project/addProject.css}"></link>
    <link rel="stylesheet" th:href="@{/css/releasecycle/addReleaseCycle.css}"></link>
    <link rel="stylesheet" th:href="@{/css/cireservation/manageCiReservations.css}"></link>
    <link rel="stylesheet" th:href="@{/css/lib/datatable/datatables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/lib/datatable/dataTables.bootstrap.min.css}"/>
</head>
<body>
<header>
    <div class="page-header">
        <h1>
            <small>Conflict Manager</small>
        </h1>
    </div>
</header>
<div class="container-fluid">
    <ul class="nav nav-pills">
        <li onclick="loadProjects()"><a data-toggle="pill" href="#manageProjects">Manage Projects</a></li>
        <li onclick="loadReleaseCycles()"><a data-toggle="pill" href="#manageReleaseCycles">Manage Release Cycles</a>
        </li>
        <li><a data-toggle="pill" href="#manageCiReservations">Manage CI Reservations</a></li>
        <li><a data-toggle="pill" href="#manageConflicts">Mitigate Conflicts</a></li>

    </ul>
    <div class="tab-content">
        <div id="manageProjects" class="tab-pane fade in active"
             th:include="project/manageProjects :: manageProjects"></div>
        <div id="manageReleaseCycles" class="tab-pane fade"
             th:include="releasecycle/manageReleaseCycles :: manageReleaseCycles"></div>
        <div id="manageCiReservations" class="tab-pane fade"
             th:include="cireservation/manageCiReservations :: manageCiReservations"></div>
        <div id="manageConflicts" class="tab-pane fade"
             th:include="conflict/manageConflicts :: manageConflicts"></div>
    </div>
    <div th:include="project/addProject :: addProject" id="addProjectContainer" class="modal fade"
         data-backdrop='static' data-keyboard='false' tabindex="-1" role="dialog"
         aria-labelledby="largeModal" aria-hidden="true">
    </div>
    <div th:include="releasecycle/addReleaseCycle :: addReleaseCycle" id="addReleaseCycleContainer" class="modal fade"
         data-backdrop='static' data-keyboard='false' tabindex="-1" role="dialog"
         aria-labelledby="largeModal" aria-hidden="true">
    </div>


</div>
<script type="text/javascript" th:src="@{/js/lib/jquery/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/bootstrap/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/hybind/hybind.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/datatable/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/traverson/traverson.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common/common.js}"></script>
<script type="text/javascript" th:src="@{/js/project/index.js}"></script>
<script type="text/javascript" th:src="@{/js/releasecycle/index.js}"></script>
<script type="text/javascript" th:src="@{/js/cireservation/index.js}"></script>
</body>
</html>